<!DOCTYPE html>
<html lang="en"> 

<head>
    <title>PamilyaHelper - Your Household Help Hub</title>
    {{ template "header" . }}
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Navbar Start -->
        {{ template "navbar" . }}
        <!-- Navbar End -->

        <!-- Header End -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Job List</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Job List</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Header End -->

        <!-- Jobs Detail -->
            <!-- DATA FROM DATABASE -->
            <div>
                <div>
                    <div class="Job-1">
                        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="container">
                                <div class="row gy-5 gx-4">
                                    <div class="col-lg-8">
                                        <div class="d-flex align-items-center mb-5">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="/static//static/img/person6.jpeg" alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h3 class="mb-3">{{ .job.title }}</h3>
                                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ .job.location }}</span>
                                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{ .job.employment_type }}</span>
                                                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>P{{ .job.price_from }} - P{{ .job.price_to }}</span>
                                            </div>
                                        </div>
                
                                        <div class="mb-5">
                                            <h4 class="mb-3">Job description</h4>
                                            <p>{{ .job.description }}</p>
                                            <h4 class="mb-3">Responsibility</h4>
                                            <ul class="list-unstyled">
                                                {{ range .job.responsibilities }}
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>{{ . }}</li>
                                                {{ end }}
                                        </ul>
                                            <h4 class="mb-3">Qualifications</h4>
                                            <ul class="list-unstyled">
                                                {{ range .job.skills }}
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>{{ . }}</li>
                                                {{ end }}  
                                            </ul>
                                        </div>
                        
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                                            <h4 class="mb-4">Contact Information</h4>
                                            <p class="m-0">Full Name: {{ .job.employer }}</p>
                                            <p class="m-0">Email: {{ .job.emp_email }}</p>
                                            <p class="m-0">Contact Number: {{ .job.emp_contact }}</p>
                                        </div>
                                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                                            <h4 class="mb-4">Employer Detail</h4>
                                            <p class="m-0">{{ .job.emp_detail }}</p>
                                        </div>
                                        <div style="margin-top: 1em;text-align: center;">
                                            <form method="post" action="/users/apply">
                                                <button type="submit" class="btn btn-primary">Submit an Application</button>
                                            </form>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#jobs" class="modalclose">&times;</a>
                </div>
            </div>
            <!-- DATA FROM DATABASE -->

            <!-- DUMMY DETAIL DATA 
            <div id="modalboxfull2" class="modal">
                <div class="modalcontent">
                    <div class="Job-1">
                        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="container">
                                <div class="row gy-5 gx-4">
                                    <div class="col-lg-8">
                                        <div class="d-flex align-items-center mb-5">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="/static//static/img/person7.jpg" alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h3 class="mb-3">Laundry and Ironing</h3>
                                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Davao</span>
                                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>P8,000 - P9,000</span>
                                            </div>
                                        </div>
                
                                        <div class="mb-5">
                                            <h4 class="mb-3">Job description</h4>
                                            <p>We are looking for a diligent Laundry Helper to assist a family in Davao with their laundry and ironing needs. As a Laundry Helper, you will play an essential role in maintaining clean and well-kept clothing for the family. Your responsibilities will include washing, drying, folding, and ironing various types of garments. Attention to detail and the ability to handle delicate fabrics is crucial for this role.</p>
                                            <h4 class="mb-3">Responsibility</h4>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Sort and separate laundry items based on color, fabric type, and washing requirements.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Operate washing machines and dryers, ensuring proper settings for different fabrics.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Fold and neatly arrange clean laundry.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Iron clothes and linens, paying special attention to detail.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Mend minor clothing damages such as loose buttons or small tears.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Keep the laundry area clean and organized.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Occasionally run errands related to laundry supplies.</li>
                                        </ul>
                                            <h4 class="mb-3">Qualifications</h4>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Previous experience in laundry and ironing is preferred but not mandatory.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Attention to detail and care when handling delicate fabrics.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Ability to follow laundry care instructions and garment labels.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Strong organizational skills to manage various laundry tasks.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Reliability and punctuality in completing laundry duties.</li>
                                            </ul>
                                        </div>
                        
                                    </div>
                        
                                    <div class="col-lg-4">
                                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                                            <h4 class="mb-4">Contact Information</h4>
                                            <p class="m-0">Full Name: Teresa Mendoza</p>
                                            <p class="m-0">Email: teresamendoza@gmail.com</p>
                                            <p class="m-0">Contact Number: 09151234567</p>
                                        </div>
                                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                                            <h4 class="mb-4">Employer Detail</h4>
                                            <p class="m-0">I am a working professional with a busy schedule, and I require assistance with the laundry to ensure my family always has clean and well-maintained clothing. Your help will allow me to focus on my work and spend quality time with my loved ones. Your dedication and attention to detail in handling our laundry needs will be greatly appreciated.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#jobs" class="modalclose">&times;</a>
                </div>
            </div>

            <div id="modalboxfull3" class="modal">
                <div class="modalcontent">
                    <div class="Job-3">
                        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="container">
                                <div class="row gy-5 gx-4">
                                    <div class="col-lg-8">
                                        <div class="d-flex align-items-center mb-5">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="/static/img/person8.jpeg" alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h3 class="mb-3">Elderly Care</h3>
                                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Bacolod</span>
                                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>P25,000 - P27,000</span>
                                            </div>
                                        </div>
                
                                        <div class="mb-5">
                                            <h4 class="mb-3">Job description</h4>
                                            <p>We are currently looking for a compassionate and experienced caregiver to provide dedicated care for a senior citizen in Bacolod. The ideal candidate will be responsible for ensuring the well-being and comfort of our elderly family member. This is a full-time position that requires a caring and attentive individual who can offer both physical and emotional support.</p>
                                            <h4 class="mb-3">Responsibility</h4>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Assist with daily activities, including bathing, dressing, and grooming.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Administer medications and assist with healthcare routines as needed.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Prepare and serve nutritious meals and snacks.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Provide companionship and engage in meaningful conversations.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Monitor and report any changes in the senior's health or behavior.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Keep the living area clean and organized.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Accompany the senior to medical appointments and outings.</li>
                                        </ul>
                                            <h4 class="mb-3">Qualifications</h4>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Previous experience in caregiving for the elderly is preferred.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Caring and compassionate nature with a strong sense of empathy.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Patience and understanding in dealing with the challenges of aging.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Good communication skills and the ability to provide emotional support.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Knowledge of basic first aid and healthcare practices.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Ability to work full-time and adjust the schedule as needed.</li>

                                            </ul>
                                        </div>
                        
                                    </div>
                        
                                    <div class="col-lg-4">
                                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                                            <h4 class="mb-4">Contact Information</h4>
                                            <p class="m-0">Full Name: Andres Gonzales</p>
                                            <p class="m-0">Email: andresgonzales@gmail.com</p>
                                            <p class="m-0">Contact Number: 09171234567</p>
                                        </div>
                                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                                            <h4 class="mb-4">Employer Detail</h4>
                                            <p class="m-0">We are a loving family in Bacolod seeking a caregiver to provide support and companionship to our beloved senior family member. Our senior requires assistance and care, and we are looking for a dedicated individual who can ensure their comfort and well-being. Your role as a caregiver is vital to our family, and your compassion and expertise will be highly valued. Join us in making a positive difference in the life of our cherished senior member.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#jobs" class="modalclose">&times;</a>
                </div>
            </div>

            <div id="modalboxfull4" class="modal">
                <div class="modalcontent">
                    <div class="Job-4">
                        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="container">
                                <div class="row gy-5 gx-4">
                                    <div class="col-lg-8">
                                        <div class="d-flex align-items-center mb-5">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="/static/img/person9.jpg" alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h3 class="mb-3">House Cleaning</h3>
                                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Quezon City</span>
                                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>P6,000 - P9,000</span>
                                            </div>
                                        </div>
                
                                        <div class="mb-5">
                                            <h4 class="mb-3">Job description</h4>
                                            <p>We are looking for an experienced house cleaner to join our team in Quezon City. As a house cleaner, you will be responsible for maintaining a clean and organized living environment for our clients. Your attention to detail and thorough cleaning practices will be crucial in ensuring the comfort and tidiness of their homes.</p>
                                            <h4 class="mb-3">Responsibility</h4>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Perform regular cleaning tasks such as dusting, vacuuming, sweeping, and mopping floors.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Clean and sanitize kitchen and bathroom surfaces, including sinks, countertops, and appliances.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Make beds and change linens.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Empty trash bins and replace liners.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Organize and tidy up living spaces, including picking up toys and clutter.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Notify the homeowner of any cleaning supplies that need replenishing.</li>
                                        </ul>
                                            <h4 class="mb-3">Qualifications</h4>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Previous experience in house cleaning is preferred.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Attention to detail and a commitment to thorough cleaning practices.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Ability to maintain confidentiality and respect for the homeowner's privacy.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Strong communication skills and the ability to follow instructions.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Reliable transportation to and from the job location.</li>
                                            </ul>
                                        </div>
                        
                                    </div>
                        
                                    <div class="col-lg-4">
                                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                                            <h4 class="mb-4">Contact Information</h4>
                                            <p class="m-0">Full Name: Ramon dela Rosa</p>
                                            <p class="m-0">Email: ramondelarosa@gmail.com</p>
                                            <p class="m-0">Contact Number: 09174236547</p>
                                        </div>
                                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                                            <h4 class="mb-4">Employer Detail</h4>
                                            <p class="m-0">I am a homeowner in Quezon City with a busy schedule, and I need a dependable house cleaner to help maintain a clean and organized home. Your assistance will be greatly appreciated in ensuring a comfortable and welcoming living space for my family. If you are an experienced house cleaner looking for a full-time position, we would love to hear from you.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#jobs" class="modalclose">&times;</a>
                </div>
            </div>

            <div id="modalboxpart1" class="modal">
                <div class="modalcontent">
                    <div class="Job-1">
                        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="container">
                                <div class="row gy-5 gx-4">
                                    <div class="col-lg-8">
                                        <div class="d-flex align-items-center mb-5">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="/static/img/person10.jpeg" alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h3 class="mb-3">Babysitting and Childcare</h3>
                                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Makati</span>
                                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Part Time</span>
                                                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>P12,000 - P15,000</span>
                                            </div>
                                        </div>
                
                                        <div class="mb-5">
                                            <h4 class="mb-3">Job description</h4>
                                            <p>We are currently in need of a trustworthy and caring individual to provide babysitting and childcare services for our family in Makati. This part-time position requires someone who is reliable, responsible, and enjoys spending time with children. As a babysitter, you will play a key role in ensuring the safety and well-being of our kids while we are away.</p>
                                            <h4 class="mb-3">Responsibility</h4>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Supervise and engage with our children, ensuring their safety and comfort.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Prepare meals and snacks for the kids and ensure they follow their routine.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Assist with basic homework and educational activities.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Organize and oversee playtime and creative activities.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Maintain a clean and tidy environment in the children's living and play areas.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Communicate with parents regarding any issues or concerns.</li>
                                        </ul>
                                            <h4 class="mb-3">Qualifications</h4>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Previous experience in childcare or babysitting preferred but not mandatory.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Genuine love for children and the ability to build a rapport with them.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Patience and the capacity to handle challenging situations with composure.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Basic first aid and child safety knowledge.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Strong communication skills and a sense of responsibility.</li>
                                            </ul>
                                        </div>
                        
                                    </div>
                        
                                    <div class="col-lg-4">
                                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                                            <h4 class="mb-4">Contact Information</h4>
                                            <p class="m-0">Full Name: Lourdes Hernandez</p>
                                            <p class="m-0">Email: lourdeshernandez@gmail.com</p>
                                            <p class="m-0">Contact Number: 09183452761</p>
                                        </div>
                                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                                            <h4 class="mb-4">Employer Detail</h4>
                                            <p class="m-0">I am a working parent living in Makati. My busy schedule sometimes requires me to be away from home, and I am in search of a reliable babysitter who can provide attentive care and ensure the safety and happiness of my children during my absence. Your dedication and warmth will be greatly valued as you help create a positive and secure environment for my kids.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#jobs" class="modalclose">&times;</a>
                </div>
            </div>

            <div id="modalboxpart2" class="modal">
                <div class="modalcontent">
                    <div class="Job-2">
                        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="container">
                                <div class="row gy-5 gx-4">
                                    <div class="col-lg-8">
                                        <div class="d-flex align-items-center mb-5">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="/static/img/person12.jpeg" alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h3 class="mb-3">Gutter Cleaning and Maintenance</h3>
                                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Taguig</span>
                                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Part Time</span>
                                                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>P10,000 - P15,000</span>
                                            </div>
                                        </div>
                
                                        <div class="mb-5">
                                            <h4 class="mb-3">Job description</h4>
                                            <p>We are looking for a dedicated Gutter Cleaner to join our team in Taguig. The primary responsibility of this role is to ensure the cleanliness and maintenance of gutters in residential and commercial properties. Regular gutter cleaning is essential to prevent blockages, leaks, and potential damage to the buildings.</p>
                                            <h4 class="mb-3">Responsibility</h4>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Safely and efficiently clean gutters to remove leaves, debris, and dirt.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Inspect gutters for signs of damage or clogs and report any issues to the supervisor.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Use appropriate tools and equipment to complete the cleaning tasks.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Adhere to safety guidelines and procedures while working at heights.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Work as part of a team to ensure the timely completion of gutter cleaning projects.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Maintain a clean and organized work area.</li>
                                        </ul>
                                            <h4 class="mb-3">Qualifications</h4>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Prior experience in gutter cleaning or a related field is a plus but not required.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Ability to work at heights and handle ladders safely.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Physical fitness and the ability to lift and carry equipment and materials.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Strong attention to detail and the ability to spot gutter issues.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Reliable and punctual, with good time management skills.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Willingness to work outdoors and in various weather conditions.</li>
                                            </ul>
                                        </div>
                        
                                    </div>
                        
                                    <div class="col-lg-4">
                                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                                            <h4 class="mb-4">Contact Information</h4>
                                            <p class="m-0">Full Name: Diana Reyes</p>
                                            <p class="m-0">Email: dianareyes@gmail.com</p>
                                            <p class="m-0">Contact Number: 09272349765</p>
                                        </div>
                                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                                            <h4 class="mb-4">Employer Detail</h4>
                                            <p class="m-0">I am a property owner in Taguig with several residential and commercial properties. I understand the importance of regular gutter maintenance to protect these investments. I'm seeking a dependable Gutter Cleaner to help ensure the longevity and functionality of our properties. Your work will contribute to maintaining the value and integrity of these structures, and your dedication is greatly appreciated.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#jobs" class="modalclose">&times;</a>
                </div>
            </div>

            <div id="modalboxpart3" class="modal">
                <div class="modalcontent">
                    <div class="Job-3">
                        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="container">
                                <div class="row gy-5 gx-4">
                                    <div class="col-lg-8">
                                        <div class="d-flex align-items-center mb-5">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="/static/img/person13.jpeg" alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h3 class="mb-3">Part-time Babysitter Required</h3>
                                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Makati</span>
                                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Part Time</span>
                                                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>P8,000 - P10,000</span>
                                            </div>
                                        </div>
                
                                        <div class="mb-5">
                                            <h4 class="mb-3">Job description</h4>
                                            <p>We are seeking a reliable and caring individual to take care of our children during evening hours. Your primary responsibility will be to ensure the safety and well-being of our kids while we are away. This includes engaging them in age-appropriate activities, preparing simple meals or snacks, and assisting with bedtime routines.</p>
                                            <h4 class="mb-3">Responsibility</h4>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Supervise and interact with the children in a safe and engaging manner.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Prepare and serve meals or snacks for the children.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Help with basic bedtime routines, including reading stories and ensuring a peaceful night's rest.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Monitor and maintain a safe environment for the children at all times.</li>
                                        </ul>
                                            <h4 class="mb-3">Qualifications</h4>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Previous experience in babysitting or childcare is preferred.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Must be responsible, patient, and reliable.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Good communication skills and the ability to connect with children.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Basic first-aid knowledge is a plus.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>References and background check may be required</li>
                                            </ul>
                                        </div>
                        
                                    </div>
                        
                                    <div class="col-lg-4">
                                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                                            <h4 class="mb-4">Contact Information</h4>
                                            <p class="m-0">Full Name: Ingrid Alonzo</p>
                                            <p class="m-0">Email: ingridalonzo@gmail.com</p>
                                            <p class="m-0">Contact Number: 09091129463</p>
                                        </div>
                                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                                            <h4 class="mb-4">Employer Detail</h4>
                                            <p class="m-0">We are a family with busy schedules, and we are seeking a trustworthy babysitter to provide the care and attention our children need during our evening commitments. Your assistance will allow us to focus on our responsibilities while ensuring our children are in safe and caring hands. We appreciate your support in creating a positive and nurturing environment for our family.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#jobs" class="modalclose">&times;</a>
                </div>
            </div>

            <div id="modalboxpart4" class="modal">
                <div class="modalcontent">
                    <div class="Job-4">
                        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="container">
                                <div class="row gy-5 gx-4">
                                    <div class="col-lg-8">
                                        <div class="d-flex align-items-center mb-5">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="/static//static/img/person14.jpeg" alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h3 class="mb-3">Lawn Mower Operator Wanted</h3>
                                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Tagbilaran City</span>
                                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Part Time</span>
                                                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>P7,500 - P9,500</span>
                                            </div>
                                        </div>
                
                                        <div class="mb-5">
                                            <h4 class="mb-3">Job description</h4>
                                            <p>We are looking for an individual to take care of our lawn and garden by operating a lawn mower and performing garden maintenance tasks. This part-time position is ideal for someone who enjoys outdoor work and takes pride in maintaining a well-kept garden. As the Lawn Mower Operator, you will play a vital role in ensuring our outdoor space remains clean and appealing.</p>
                                            <h4 class="mb-3">Responsibility</h4>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Operate a lawn mower to cut grass and maintain the lawn's appearance.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Trim and edge the lawn for a polished look.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Perform regular garden maintenance tasks, including weeding, pruning, and watering plants.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Keep pathways and garden areas clear of debris and leaves.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Report any issues or needed repairs related to garden equipment.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Maintain a safe and organized work area.</li>
                                        </ul>
                                            <h4 class="mb-3">Qualifications</h4>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>No prior experience required, but a passion for gardening and outdoor work is a plus.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Ability to operate a lawn mower and other garden equipment safely.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Attention to detail in lawn care and garden maintenance.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Reliable and punctual with a strong work ethic.</li>
                                                <li><i class="fa fa-angle-right text-primary me-2"></i>Physical fitness to handle the demands of outdoor work.</li>
                                            </ul>
                                        </div>
                        
                                    </div>
                        
                                    <div class="col-lg-4">
                                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                                            <h4 class="mb-4">Contact Information</h4>
                                            <p class="m-0">Full Name: Maricar Torres</p>
                                            <p class="m-0">Email: maricartorres@gmail.com</p>
                                            <p class="m-0">Contact Number: 09181234567</p>
                                        </div>
                                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                                            <h4 class="mb-4">Employer Detail</h4>
                                            <p class="m-0">I am a homeowner with a beautiful garden and a busy schedule. My work commitments often leave me with limited time to take care of my garden, and I'm looking for a reliable Lawn Mower Operator to help me maintain its pristine appearance. Your assistance will ensure that my outdoor space remains inviting and well-kept, allowing me to enjoy it to the fullest extent. Your dedication to garden maintenance is greatly appreciated.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#jobs" class="modalclose">&times;</a>
                </div>
            </div>
            -->

        {{ template "footer" . }}
</body>
</html>