<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>
    {{ template "header" . }}
  </head>
  <body>
    <div class="container-xxl bg-white p-0">
      <!-- Spinner Start -->
      <div
        id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
      >
        <div
          class="spinner-border text-primary"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->

      <!-- Navbar Start -->
      {{ template "navbar" . }}
      <!-- Navbar End -->

    <div class="profile-container">
      <div class="profile-nav">
        <ul>
          <li>
            <a href="/users/profile?info=profile">Personal Info</a>
          </li>
          <li>
            <a href="/users/profile?info=posted">Manage Job Postings</a>
          </li>
          <li>
            <a href="#">Manage Sent Job Proposals</a>
          </li>
          <li>
            <a href="#">Manage Received Job Proposals</a>
          </li>
          <li>
            <a href="/users/profile?info=applications">Manage Sent Helper Applications</a>
          </li>
          <li>
            <a href="#">Manage Received Helper Applications</a>
          </li>
          <li>
            <form method="post" action="/users/signout">
              <button type="submit">
                <span id="user-logout-link">Logout</span>
              </button>
            </form>
          </li>
        </ul>
      </div>

      <!-- START Data is not for ADMIN -->
      <!-- Details  -->
      {{ if not .data.is_admin }}
        <!-- Profile data -->
        {{ if eq .data.infoType "profile" }}
        <div class="profile-details">
          <div>
            <span style="font-weight: bold; font-size: larger;">{{ .data.profile.name }}</span>
            <div>
              {{ if.data.profile.is_verified }}
              <span style="color: green;font-size: smaller;">Verified Account</span>
              {{ else }}
              <span>Unverified</span>
              {{ end }}
            </div>
          </div>
          <div>
            <span>Email: {{ .data.profile.email }}</span>
          </div>
          <div><span>Birthdate: {{ .data.profile.birthdate }}</span></div>
          <div><span>Address: {{ .data.profile.address }}</span></div>
          <div>
            {{ if.data.profile.is_verified }}
            <div><span>Valid Government Id: {{ .data.profile.gov_id }}</span></div>
            {{ else }}
            <div>
              <button>
                <a href="/users/profile/verify">Account Verification</a>
              </button>
            </div>
            {{ end }}
          </div>
        </div>
        {{ end }}

        <!-- Applications  -->
        {{ if eq .data.infoType "applications" }}
          <div>
            <span>Sent Helper Applications</span>
            {{ range .data.applications }}
              <div style="height: 100px; border: 1px solid gray; min-width: 500px; max-width: 700px; display: flex; align-items: center;justify-content: space-around;">
                <div>
                  <span>Profile pic</span>
                </div>
                <div>
                  <div>
                    <span style="display: inline;">{{ .title }}</span>
                    <button style="display: inline;">{{ .status }} </button>
                  </div>
                  <div>
                    <span style="display: inline;">{{ .location }}</span>
                    <span style="display: inline;">{{ .employment_type }}</span>
                    <span style="display: inline;">{{ .price_from }} - {{ .price_to }}</span>
                  </div>
                </div>
                <div>
                  <button>
                    <a href="/jobs/{{ .id }}?view=1">View</a>
                  </button>
                </div>
              </div>
            {{ end }}
          </div>
        {{ end }}
        
      <!-- Posted Job  -->
      {{ if eq .data.infoType "posted" }}
      <div>
        <span>Job Posts</span>
        {{ range .data.postedJobs }}
          <div style="height: 100px; border: 1px solid gray; min-width: 500px; max-width: 700px; display: flex; align-items: center;justify-content: space-around;">
            <div>
              <div>
                <span style="display: inline;">{{ .title }}</span>
              </div>
              <div>
                <span style="display: inline;">{{ .location }}</span>
                <span style="display: inline;">{{ .employment_type }}</span>
                <span style="display: inline;">{{ .price_from }} - {{ .price_to }}</span>
              </div>
            </div>
            <div>
              <button>
                <a href="/jobs/{{ .id }}?view=1">View</a>
              </button>
              <button>
                <a href="/jobs/{{ .id }}?view=1">Delete</a>
              </button>
            </div>
          </div>
        {{ end }}
      </div>
      {{ end }}

      <!-- END Data is not for ADMIN -->
      {{ end }}

      <!-- Account verification view for admins -->
      {{ if .data.is_admin }}
      <div  class="profile-details">
        <div style="text-align: center">
          <span>Admin Manual Verification</span>
        </div>
        <div class="user-box-container">
          {{ range .data.accounts }}
          <div class="user-box">
            <form method="post" action="/admin/verify/user">
              <div class="user-box__detail">{{ .Name }}</div>
              <div class="user-box__detail">
                <span>Email: {{ .Email }}</span>
                <input type="text" name="email" value="{{ .Email }}" hidden />
              </div>
              <div class="user-box__detail">
                <span>Birthday: </span>{{ .Birthdate }}
              </div>
              <div class="user-box__detail">
                <span>Address: </span>{{ .Address }}
              </div>
              <div class="user-box__detail">
                <span
                  >Government ID:
                  <a href="/uploads/{{ .GovId }}" class="gov_id"
                    >{{ .GovId }}</a
                  ></span
                >
              </div>
              <div class="user-box__btns">
                <button type="submit" name="action" value="accept">
                  Accept
                </button>
                <button type="submit" name="action" value="reject">
                  Reject
                </button>
              </div>
            </form>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    <div>
      {{ template "footer" . }}
    </div>
  </body>
</html>
