<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Profile</title>
    <!-- add icon link -->
    <link rel="icon" href="img/PamilyaHelperLogo.png" type="image/x-icon" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- box icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet" />
    <link
      href="/static/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet" />
    <link href="/static/css/profile.css" rel="stylesheet" />

    <!-- ===== Link Swiper's CSS ===== -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <!-- ===== Fontawesome CDN Link ===== -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>

  <body>
    <div class="container-xxl bg-white p-0">
      <!-- Spinner Start -->
      <div
        id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
      >
        <div
          class="spinner-border text-primary"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->

      <!-- Navbar Start -->
      <nav
        class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0"
      >
        <a
          href="/"
          class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5"
        >
          <h1 class="m-0 text-primary">PamilyaHelper</h1>
        </a>
        <button
          type="button"
          class="navbar-toggler me-4"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" class="nav-item nav-link active">Home</a>
            <a href="/about" class="nav-item nav-link">About</a>
            <a href="/job-list" class="nav-item nav-link">Job List</a>
            <a href="/helpers" class="nav-item nav-link">Helpers</a>
            <a href="/contact" class="nav-item nav-link">Contact</a>
          </div>
          {{if .is_log_in}}
          <a
            href="/users/profile"
            class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block"
            >Profile</a
          >
          {{else}}
          <a
            href="/signin"
            class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block"
            >Login/SignUp</a
          >
          {{ end }}
        </div>
      </nav>
      <!-- Navbar End -->

      <!-- Profile details  -->
      {{ if not .data.is_admin }}
      <div>
        <div>
          <span style="font-weight: bold">{{ .data.name }}</span>
          <div>
            {{ if.data.is_verified }}
            <span>Verified</span>
            {{ else }}
            <span>Unverified</span>
            {{ end }}
          </div>
        </div>
        <div>
          <span>Email: {{ .data.email }}</span>
        </div>
        <div><span>Birthdate: {{ .data.birthdate }}</span></div>
        <div><span>Address: {{ .data.address }}</span></div>
        <div>
          {{ if.data.is_verified }}
          <div><span>Valid Government Id: {{ .data.gov_id }}</span></div>
          {{ else }}
          <div>
            <button>
              <a href="/users/profile/verify"> Account Verification </a>
            </button>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}

      <!-- Account verificatin view for admins -->
      {{ if .data.is_admin }}
      <div>
        <div style="text-align: center">
          <span>Admin Manual Verification</span>
        </div>
        <div class="user-box-container">
          {{ range .data.accounts }}
          <div class="user-box">
            <form method="post" action="/admin/verify/user">
              <div class="user-box__detail">{{ .Name }}</div>
              <div class="user-box__detail">
                <span>Email: {{ .Email }}</span>
                <input type="text" name="email" value="{{ .Email }}" hidden />
              </div>
              <div class="user-box__detail">
                <span>Birthday: </span>{{ .Birthdate.String }}
              </div>
              <div class="user-box__detail">
                <span>Address: </span>{{ .Address.String }}
              </div>
              <div class="user-box__detail">
                <span
                  >Government ID:
                  <a href="/uploads/{{ .GovId }}" class="gov_id"
                    >{{ .GovId }}</a
                  ></span
                >
              </div>
              <div class="user-box__btns">
                <button type="submit" name="action" value="accept">
                  Accept
                </button>
                <button type="submit" name="action" value="reject">
                  Reject
                </button>
              </div>
            </form>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}

      <!-- Body -->
      <form method="POST" , action="/users/signout">
        <button type="submit">
          <span id="user-logout-link">Logout</span>
        </button>
      </form>

      <!-- Footer Start -->
      <div
        class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn"
        data-wow-delay="0.1s"
      >
        <div class="container">
          <div class="copyright">
            <div class="row">
              <div class="text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="border-bottom" href="#">PamilyaHelper</a>, All
                Rights Reserved. Designed and
                <a class="border-bottom">Coded By PamilyaHelper Dev Team</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/lib/wow/wow.min.js"></script>
    <script src="/static/lib/easing/easing.min.js"></script>
    <script src="/static/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/js/main.js"></script>
  </body>
</html>
