<!DOCTYPE html>
<html lang="en">

<head>
  <title>Profile</title>
  {{ template "header" . }}
</head>

<body>
  <div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <div id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
      <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    {{ template "navbar" . }}
    <!-- Navbar End -->

    <div class="profile-container">
      <div class="profile-nav">
        <ul>
          {{ if not .data.profile.is_admin }}
          <li>
            <a href="/users/profile?info=profile">Personal Info</a>
          </li>
          <li>
            <a href="/users/profile?info=posted">Manage Job Postings</a>
          </li>
          <li>
            <a href="/users/profile?info=proposals">Manage Sent Job Proposals</a>
          </li>
          <li>
            <a href="#">Manage Received Job Proposals</a>
          </li>
          <li>
            <a href="/users/profile?info=applications">Manage Sent Helper Applications</a>
          </li>
          <li>
            <a href="#">Manage Received Helper Applications</a>
          </li>
          <li>
            <div>
              {{ if not .is_verified }}
              <div class="btn btn-secondary">
                <a style="color: aliceblue;" href="/users/profile/verify" class="nav-link active">Account
                  Verification</a>
              </div>
              {{ end }}
            </div>
          </li>
          {{ end }}
          <li>
            <form method="post" action="/users/signout">
              <button type="submit">
                <span id="user-logout-link">Logout</span>
              </button>
            </form>
          </li>
        </ul>
      </div>

      <!-- START Data is not for ADMIN -->
      <!-- Details  -->
      {{ if not .data.profile.is_admin }}
      <!-- Profile data -->
      {{ if eq .data.infoType "profile" }}
      <div class="profile-details">
        <div>
          <img style="  border-radius: 50%;height: 100px;" src="/uploads/{{ .data.profile.profile_image }}"
            alt="Profile Image" />
          <span style="font-weight: bold; font-size: larger;">{{ .data.profile.name }}</span>
          <div>
            {{ if.data.profile.is_verified }}
            <span style="color: green;font-size: smaller;">Verified Account</span>
            {{ else }}
            <span>Unverified</span>
            {{ end }}
          </div>
        </div>
        <div>
          <span>Email: {{ .data.profile.email }}</span>
        </div>
        <div><span>Birthdate: {{ .data.profile.birthdate }}</span></div>
        <div><span>Address: {{ .data.profile.address }}</span></div>
        {{ if .data.profile.is_verified }}
        <div><span>Valid Government ID: {{ .data.profile.gov_id_image }}</span></div>
        {{ end }}
        <div>
          <form method="post" action="/upload/profileimage" enctype="multipart/form-data">
            <span class="form-label">Profile Picture: {{ .data.profile.profile_image }}</span]>
              <div class="input-group" style="display: flex;">
                <input name="profile_image" class="form-control" type="file" id="formFile">
                <button type="submit" class="btn btn-primary">Upload</button>
              </div>
          </form>
        </div>
        <div>
          <form method="post" action="/upload/itr" enctype="multipart/form-data">
            <span class="form-label">Income Tax Return: {{ .data.profile.income_tax_return }}</span]>
              <div class="input-group" style="display: flex;">
                <input name="income_tax_return" class="form-control" type="file" id="formFile">
                <button type="submit" class="btn btn-primary">Upload</button>
              </div>
          </form>
        </div>
        <form method="post" action="/users/profile">
          <div><span>Title:</span>
            <input style="margin: 0.2em;" name="title" class="form-control" type="text"
              value="{{ .data.profile.title  }}">
          </div>
          <div><span>Skills:</span>
            <input style="margin: 0.2em;" name="skills" class="form-control" type="text"
              value="{{ index .data.profile.skills 0 }}">
            <input style="margin: 0.2em;" name="skills" class="form-control" type="text"
              value="{{ index .data.profile.skills 1 }}">
            <input style="margin: 0.2em;" name="skills" class="form-control" type="text"
              value="{{ index .data.profile.skills 2 }}">
            <input style="margin: 0.2em;" name="skills" class="form-control" type="text"
              value="{{ index .data.profile.skills 3 }}">
            <input style="margin: 0.2em;" name="skills" class="form-control" type="text"
              value="{{ index .data.profile.skills 4 }}">
          </div>
          <div><span>Details:</span>
            <textarea cols="30" rows="5" style="text-align: left; overflow:auto;" name="detail" class="form-control">
              {{ .data.profile.detail }}
            </textarea>
          </div>
          <button type="submit" style="margin:1em 0 1em 0" class="btn btn-primary">Update Profile</button>
        </form>
      </div>
      {{ end }}

      <!-- Applications  -->
      {{ if eq .data.infoType "applications" }}
      <div>
        <span>Sent Helper Applications</span>
        {{ range .data.applications }}
        <div
          style="height: 100px; border: 1px solid gray; min-width: 500px; max-width: 700px; display: flex; align-items: center;justify-content: space-around;">
          <div>
            <span>Profile pic</span>
          </div>
          <div>
            <div>
              <span style="display: inline;">{{ .title }}</span>
              <button style="display: inline;">{{ .status }} </button>
            </div>
            <div>
              <span style="display: inline;">{{ .location }}</span>
              <span style="display: inline;">{{ .employment_type }}</span>
              <span style="display: inline;">{{ .price_from }} - {{ .price_to }}</span>
            </div>
          </div>
          <div>
            <button>
              <a href="/jobs/{{ .id }}?view=1">View</a>
            </button>
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}

      <!-- Posted Job  -->
      {{ if eq .data.infoType "posted" }}
      <div>
        <span>Job Posts</span>
        {{ range .data.postedJobs }}
        <div
          style="height: 100px; border: 1px solid gray; min-width: 500px; max-width: 700px; display: flex; align-items: center;justify-content: space-around;">
          <div>
            <div>
              <span style="display: inline;">{{ .title }}</span>
            </div>
            <div>
              <span style="display: inline;">{{ .location }}</span>
              <span style="display: inline;">{{ .employment_type }}</span>
              <span style="display: inline;">{{ .price_from }} - {{ .price_to }}</span>
            </div>
          </div>
          <div>
            <button>
              <a href="/jobs/view/{{ .id }}?view=1">View</a>
            </button>
            <form action="/jobs/delete" method="post">
              <button name="job_id" value="{{ .id }}" type="submit">Delete</button>
            </form>
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}

      <!-- Proposals -->
      {{ if eq .data.infoType "proposals" }}
      <div>
        <span>Sent Job Proposals</span>
        {{ range .data.proposals }}
        <div
          style="height: 100px; border: 1px solid gray; min-width: 500px; max-width: 700px; display: flex; align-items: center;justify-content: space-around;">
          <div>
            {{ if .employee_profile_image }}
            <img style="  border-radius: 50%;height: 100px;" src="/uploads/{{ .employee_profile_image }}"
              alt="Profile Image" />
            {{ end }}
          </div>
          <div>
            <div>
              <span style="display: inline;">{{ .employee_name }}</span>
            </div>
            <div>
              <span style="display: inline;">{{ .employee_title }}</span>
            </div>
          </div>
          <div>
              <a class="btn btn-primary" href="/jobs/view/{{ .job_id }}?view=1">View</a>
            <button class="btn btn-secondary">
              {{ .status }}
            </button>
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}

      <!-- END Data is not for ADMIN -->
      {{ end }}

      <!-- Account verification view for admins -->
      {{ if .data.profile.is_admin }}
      <div class="profile-details">
        <div style="text-align: center">
          <span>Admin Manual Verification</span>
        </div>
        <div class="user-box-container">
          {{ range .data.accounts }}
          <div class="user-box">
            <form method="post" action="/admin/verify/user">
              <div class="user-box__detail">{{ .Name }}</div>
              <div class="user-box__detail">
                <span>Email: {{ .Email }}</span>
                <input type="text" name="email" value="{{ .Email }}" hidden />
              </div>
              <div class="user-box__detail">
                <span>Birthday: </span>{{ .Birthdate }}
              </div>
              <div class="user-box__detail">
                <span>Address: </span>{{ .Address }}
              </div>
              <div class="user-box__detail">
                <span>Government ID:
                  <a href="/uploads/{{ .GovId }}" class="gov_id">{{ .GovId }}</a></span>
              </div>
              <div class="user-box__btns">
                <button type="submit" name="action" value="accept">
                  Accept
                </button>
                <button type="submit" name="action" value="reject">
                  Reject
                </button>
              </div>
            </form>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    <div>
      {{ template "footer" . }}
    </div>
</body>

</html>