<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PamilyaHelper - Your Household Help Hub</title>
    {{ template "header" . }}
    <link href="/static/css/SignInSignUp.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navbar Start -->
    {{ template "navbar" . }}
    <!-- Navbar End -->

    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form
              method="post"
              action="/signin"
              autocomplete="off"
              class="sign-in-form"
            >
              <div class="logo">
                <img src="/static/img/PamilyaHelperLogo.png" alt="easyclass" />
                <h4>PamilyaHelper</h4>
              </div>

              <div class="heading">
                <h2>Welcome Back</h2>
                <h6>Don't have an account?</h6>
                <a class="toggle">Sign up</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    name="email"
                    type="email"
                    minlength="4"
                    class="input-field"
                    autocomplete="email"
                    required
                  />
                  <label>Email</label>
                </div>

                <div class="input-wrap">
                  <input
                    name="password"
                    type="password"
                    minlength="8"
                    class="input-field"
                    autocomplete="current-password"
                    required
                  />
                  <label>Password</label>
                </div>
                <div class="sign-in__msg--center">
                  <span>{{ .msg }}</span>
                </div>
                <input type="submit" value="Log In" class="sign-btn" />
              </div>
            </form>

            <form
              method="post"
              action="/signup"
              autocomplete="off"
              class="sign-up-form"
            >
              <div class="logo">
                <img src="/static/img/PamilyaHelperLogo.png" alt="easyclass" />
                <h4>PamilyaHelper</h4>
              </div>

              <div class="heading">
                <h2>Get Started</h2>
                <h6>Already have an account?</h6>
                <a href="#" class="toggle">Log in</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    minlength="4"
                    class="input-field"
                    required
                    name="name"
                    autocomplete="name"
                  />
                  <label>Name</label>
                </div>

                <div class="input-wrap">
                  <input
                    name="email"
                    type="email"
                    class="input-field"
                    autocomplete="email"
                    required
                  />
                  <label>Email</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="8"
                    class="input-field"
                    required
                    autocomplete="new-password"
                    name="password"
                  />
                  <label>Password</label>
                </div>
                <div class="sign-up__msg--center">
                  <span color> {{ .msg_signup }} </span>
                </div>
                <input type="submit" value="Sign Up" class="sign-btn" />
              </div>
            </form>
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img
                src="/static/img/logincarousel.png"
                class="image img-1 show"
                alt=""
              />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Your chores, Our Help</h2>
                  <h3>
                    Find reliable household helpers and job opportunities near
                    you! PamilyaHelper is your one-stop solution for finding
                    reliable household help and job opportunities.
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {{ template "footer" . }}
  </body>
</html>
